
<div class=infobox>
<div *ngIf="!eventDetail">No hay nada madafucka</div>

<div *ngIf="eventDetail">
  <h2>{{ eventDetail.name }}</h2>
  <h4>{{eventDetail.category}}</h4>
  <p>{{eventDetail.description}}</p>
  <p>{{eventDetail.participant}}</p>
  <p>{{eventDetail.tags}}</p>
  <br>
</div>
<a [routerLink]= "['event-info', eventDetail._id]"><button type="button" class="btn-block" name="button">Apuntate!</button></a>
<!-- <a><button type="button" class="btn-block" name="button">madafucka</button></a> -->
</div>
