<nav>
  <div class="menu">
    <a [routerLink]="['']"><img class="img-user" src="https://ca.slack-edge.com/T02CQ4EN4-U3KPHFCUW-807f02da0a86-72"></a>
  </div>
</nav>

<div class="container">
  <!-- <ul *ngIf="user"> -->

  <ul>
    <li><a routerLink="/">Index</a></li>
    <li><a routerLink="/user/1">Profile</a></li>
    <li>Record</li>
    <li><a routerLink="/user/events-attended/">Plans you attended</a></li>
    <li>Plans you managed</li>
    <li><a routerLink="/event/create-event">Post a Plan</a></li>
    <li><a routerLink="/log-in">Log In</a></li>
    <li><a routerLink="/sign-up">Sign In</a></li>
    <li><a routerLink="/log-out"></a>Log-out</li>
  </ul>
</div>
