<app-main-navbar></app-main-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <div class="logo_main">
          <ul>
            <li><img class="img-user" src="https://ca.slack-edge.com/T02CQ4EN4-U3KPHFCUW-807f02da0a86-72">
              <li>
                <li>Profile</li>
                <li>Plans you attended</li>
                <li>Plans you managed</li>
                <li><a routerLink="/create-event">Create Event</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
