<p>
  event-creator-page works!
</p>

<!--Informacion del evento  -->

<div *ngIf='event'>
  <h3> {{event.name}}</h3>
  <h4> {{event.category}}</h4>
  <h5> {{event.description}}</h5>
</div>


<!--Nombre del creador del eventos -->

<!-- <h3 *ngIf='creator'>Creador: {{creator.name}}</h3> -->


<!-- Nombre de los participantes-->

<h4 *ngIf='participants'>Participants</h4>
<div *ngFor="let participant of participants">
    <h5> {{participant.name}}</h5>
</div>
<button (click)='finishEvent()' type="button" name="button">Finalizar evento</button>
