<head>
  <title>BigPlan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right home-links">
        <li><button (click)="logout()" class="btn-logout" type="submit">Log out</button></li>
        <li><a [routerLink]="['/log-in']">Log in</a></li>
        <li><a [routerLink]="['/sign-up']">Sign up</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron video-container">
    <video id="video-background" preload="" muted="" autoplay="" loop="">
   <source src="http://creamreader.com/bigplan/video/bigplan05.mp4" type="video/mp4">
 </video>
    <h1 class="big-logo">BigPlan</h1>
  </div>

  <div class="container info-container-2">
  <div class="row">
    <div class="col-md-8 info-col">
      <h1 class="big-logo-mob">BigPlan</h1>
    </div>
      </div>
        </div>

<div class="container info-container">
<div class="row">
  <div class="col-md-8 info-col">
    <h2>Make plans, <br> make them bigger.</h2>
    <p>Share your plans, meet new people,
      expand your interests. <strong>BigPlan</strong> let's you
      post your hangouts on the go.
    Sign up now to attend the best local plans near you.<br><br></p>

    <a [routerLink]="['/sign-up']"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button></a>

  </div>
  </div>
</div>



<!-- <div class="container info-container-2">
<div class="row">
  <div class="col-md-6 info-col">
    <h2>Make plans, <br> make them bigger.</h2>
    <p>Share your plans, meet new people,
      expand your interests. <strong>Big.Plan</strong> let's you
      post your hangouts on the go.</p>
    <p>Sign up now to attend the best local plans near you.</p>
  </div>
  <div class="col-md-6 info-col">
  </div>
  </div>
</div> -->

<footer>
  <h3>BigPlan</h3>
  <p class='copyright'>an Ironhack project from Tomás Ruiz and Júlia Polbach</p>
</footer>

</body>
