<div class="container">
  <div class="info-container">
    <h3> Post a Plan </h3>

    <form  #myForm="ngForm">
      <label> Plan Title</label>
      <input type="text" name="name" [(ngModel)]="formInfo.name" placeholder="" required />
      <br>

      <label> Category</label>
      <input type="text" name="category" [(ngModel)]="formInfo.category" required />
      <br>

      <label> Plan Description</label>
      <input type="text" name="description" [(ngModel)]="formInfo.description" required />
      <br>
      <label> Tags</label>
      <input type="text" name="tags" [(ngModel)]="formInfo.tags" required />
      <br>
      <button type="submit" (click)="createEvent()"> Create plan! </button>

    </form>

  <button (click)="logUser()"  type="button" name="button">Click Here</button>

  </div>
</div>
