.container {
    z-index:100;
    position: fixed;
    right: 100px;
    top: 50px;
    width: 50vw;
    height: 50vh;
    background-color: #FF8F61;

}
  
.info-container {
  margin-top: 65px;
  z-index: 102;
  position: fixed;
  left: 50%;
  background-color: #red;
  color: #00346B;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;

}
