
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" routerLink="/">
        <h3>Big.Plan</h3>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
     <li><a routerLink="/">Home</a></li>
     <li><a routerLink="/log-in">Log-in</a></li>
        </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <div class="logo_main">
        <h3>Big.Plan</h3>
      </div>
        <form *ngIf="!user">
          <input type="text" [(ngModel)]="formInfo.username" name="username" class="form-control" placeholder="user" required/>
          <br>
          <input type="password" [(ngModel)]="formInfo.password" name="password" class="form-control" placeholder="Password" required/>
          <button (click)="signup()" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
        <a [routerLink]="['sign-up']" class="text-center new-account">Don't have an account? Sign-in</a>
        <div class="logged-in" *ngIf="user">
          <app-main-board></app-main-board>
        </div>
      </div>
    </div>
  </div>
</div>
