<!--
<div class="container">

     <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign up</button>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>
-->

  <form *ngIf="!user">
    <h1>Signup</h1>
    <label> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username" />
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password" />

    <button (click)="signup()"> signup </button>
  </form>

  <div *ngIf="user">
    <h2> You are now logged in as {{ user.username }}!! </h2>
    <p> Here's the user object </p>
    <pre> {{ user | json }} </pre>

    <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
    <pre> {{ privateData | json }} </pre>
    <button (click)="logout()"> logout </button>
    <button (click)="getPrivateData()"> Get private data </button>
  </div>

  <p class="error"> {{ error }} </p>


